*.dll
*.exe
*.exe.config
*.exe.config
*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.xml
*.VC.opendb
*.VC.db
_ReSharper*

bin/
bin.netcore/
obj/
obj.netcore/
packages/
Debug/
Release/
CefSharp/app.aps
debug.log
CefSharp.BrowserSubprocess/Release
CefSharp.BrowserSubprocess/x64/Release
CefSharp.Core/Win32/Release
CefSharp.Core/x64/Release
CefSharp/Win32/Release
CefSharp/x64/Release
CefSharp.BrowserSubprocess.lib
Win32/Release
x64/Release
Win32/Release
.vs/
/Help
/tools
