*.dll
*.exe
*.exe.config
*.exe.config
*.exp
*.ipch
*.manifest
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.xml
_ReSharper*

obj/
bin/
Debug/
CefSharp/app.aps
debug.log
CefSharp.BrowserSubprocess/Release
CefSharp/x64/Release
CefSharp.BrowserSubprocess.lib
