*.dll
*.exe
*.exe.config
*.exe.config
*.exp
*.ipch
*.manifest
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.xml
_ReSharper*

obj/
bin/
Debug/
!/CEF/Win32/Debug
!/CEF/x64/Debug
CefSharp/app.aps
debug.log
CefSharp.BrowserSubprocess/Release
CefSharp.BrowserSubprocess/x64/Release
CefSharp/Win32/Release
CefSharp/x64/Release
CefSharp.BrowserSubprocess.lib
Win32/Release
x64/Release
Win32/Release
