<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://nuget.org/api/v2/" /> 
        <add key="staging.nuget.org" value="https://staging.nuget.org/api/v2/" /> 
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)"  />
    </activePackageSource>
</configuration>
