<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://nuget.org/api/v2/" /> 
		<add key="cefsharp-myget" value="https://www.myget.org/F/cefsharp/" />	
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)"  />
    </activePackageSource>
</configuration>
