<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="92.0.26" targetFramework="net472" />
  <package id="cef.redist.x86" version="92.0.26" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="2.9.0" targetFramework="net472" developmentDependency="true" />
</packages>