<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="85.3.13" targetFramework="net472" />
  <package id="cef.redist.x86" version="85.3.13" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net462" requireReinstallation="true" />
  <package id="Microsoft.Net.Compilers" version="2.9.0" targetFramework="net462" developmentDependency="true" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net462" />
</packages>