<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net462" />
  <package id="cef.redist.x64" version="83.4.2" targetFramework="net462" />
  <package id="cef.redist.x86" version="83.4.2" targetFramework="net462" />
  <package id="Moq" version="4.13.0" targetFramework="net462" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net462" />
  <package id="Nito.AsyncEx.Coordination" version="5.0.0" targetFramework="net462" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net462" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net462" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net462" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net462" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net462" developmentDependency="true" />
  <package id="Xunit.StaFact" version="0.3.18" targetFramework="net462" />
</packages>