<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrotliSharpLib" version="0.3.3" targetFramework="net462" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net462" />
  <package id="cef.redist.x64" version="88.2.4" targetFramework="net462" />
  <package id="cef.redist.x86" version="88.2.4" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.9.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net462" />
  <package id="Moq" version="4.13.0" targetFramework="net462" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net462" />
  <package id="Nito.AsyncEx.Coordination" version="5.0.0" targetFramework="net462" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net462" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net462" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="net462" />
  <package id="Portable.BouncyCastle" version="1.8.5.2" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net462" />
  <package id="Titanium.Web.Proxy" version="3.1.1301" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net462" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net462" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net462" developmentDependency="true" />
  <package id="Xunit.StaFact" version="0.3.18" targetFramework="net462" />
</packages>