<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="89.0.5" targetFramework="net472" />
  <package id="cef.redist.x86" version="89.0.5" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="2.9.0" targetFramework="net462" developmentDependency="true" />
</packages>